@media screen and (max-width: 1200px) {

  .container,
  .services-container {
    max-width: 1140px;
  }

  .form__block-right {
    width: 55%;
  }

  .form-block-right__input {
    width: 100%;
  }

  .summary-wrapper__title{
    max-width: 80%;
  }

  .footer-link:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 992px) {

  .container,
  .services-container {
    max-width: 960px;
  }

  .summary-wrapper__title{
    max-width: 100%;
  }

  .form-block-left{
    min-width: 49%;
  }

  .form__block-right {
    width: 49%;
  }

  .footer-block-lk {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-link:not(:last-child) {
    margin-right: 0;
  }

  .footer-link {
    margin-bottom: 8px;
    margin-left: auto;
  }

  .summary-wrapper {
    max-width: 100%;
  }

  .services-wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 768px) {

  .container,
  .services-container {
    max-width: 720px;
  }

  .services-block__icon {
    width: 50%;
  }

  .summary-wrapper__title {
    font-size: 65px;
  }

  .summary-wrapper__desc {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }

  .form__wrapper {
    flex-wrap: wrap;
  }

  .form-block-left {
    min-width: 100%;
  }

  .form-input {
    margin-bottom: 15px !important;
  }

  .form__block-right {
    width: 100%;
  }

  .nav__section:not(:last-child) {
    margin-right: 10px;
  }

  .nav__section {
    font-size: 16px;
  }

}

@media screen and (max-width: 576px) {

  .container,
  .services-container {
    max-width: 540px;
  }

  .header__nav {
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
  }

  .nav__button{
    position: relative;
    display: block;
    height: 23px;
  }

  .nav__button span{
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    transition: transform .3s ease-in-out, top .3s ease-in-out, opacity .3s ease-in-out;
  }

  .nav__button span:first-child{
    position: absolute;
    top: 0;
  }

  .nav__button span:last-child{
    position: absolute;
    bottom: 0;
  }

  .nav__button.active span:first-child{
    top: 50%;
    transform: rotate(-45deg);
    transition: top .3s ease-in-out, transform .3s ease-in-out;
  }

  .nav__button.active span:nth-child(2){
    opacity: 0;
  }

  .nav__button.active span:last-child{
    top: 50%;
    transform: rotate(45deg);
    transition: top .3s ease-in-out, transform .3s ease-in-out;
  }


  .nav__logo img {
    width: 60px;
  }

  .nav__sections {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30vh;
    width: 100vw;
    background-color: #000;
    border-radius: 0 0 15px 20px;
    box-shadow: 0 0 5px #000;
    padding-top: 8vh;
    overflow-y: auto;
    visibility: hidden;
    transform: translateY(-120%);
    transition: visibility .3s ease-in-out, transform .3s ease-in-out;
  }

  .nav__section{
    font-size: 20px;
  }

  .nav__section:not(:last-child){
    margin-bottom: 30px;
    margin-right: 0;
  }

  .nav__sections.active{
    visibility: visible;
    transform: none;
  }

  .summary-wrapper__title {
    font-size: 35px;
  }

  .summary-wrapper__desc {
    font-size: 20px;
  }

  .summary-services {
    padding: 155px 0 70px;
    background-size: cover;
  }

  .title {
    font-size: 28px;
  }

  .services-item__title {
    font-size: 24px;
  }

  .services-block__item {
    flex-direction: column;
  }

  .services-wrapper.reverse,
  .services-wrapper {
    flex-direction: column;
  }

  .services-block__icon {
    width: 100%;
    height: 100%;
  }

  .services-block__item {
    max-width: 100%;
  }

  .footer-block {
    flex-direction: column;
  }

  .footer-wrapper {
    margin-bottom: 20px;
  }

  .footer-link:not(:last-child) {
    margin-right: 18px;
  }

  .footer {
    padding: 40px 0 20px;
  }

  .footer-privacy {
    margin-left: auto;
  }

  .about__desc {
    font-size: 18px;
  }
}
